build/
*.pyc
__pycache__/
.venv/
venv/
homeassistant/config/.storage/
homeassistant/config/*.db
homeassistant/config/*.log*
homeassistant/config/deps/
homeassistant/config/.cloud/
homeassistant/config/tts/
